html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
}
.main {
width: 100%;
margin: 0 auto;
}
.PC img {
width: 100%;
display: block;
margin: 0 auto;
}
.SP img {
width: 100%;
display: block;
margin: 0 auto;
}
.navbar{
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    width: 100%;
}    
.navbar a{
    text-decoration: none;
}
  
.nav-link.logo-router h1{
    margin: 0px;
}
  
.logo{
  width: 200px;
  height: 54px;
  background-image: url(../images/logo.png);
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 1em 2em;
  }
  @media screen and (max-width: 768px){
      .navbar-light .navbar-nav .nav-link {
          border-top: 0.5px solid #84868b;
          padding: 0.8em 1em;
        }
  }
  nav a.navbar-toggler.collapsed:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    color: rgb(134, 134, 134);
    font-size: 30px;
    text-transform: none;
    text-align: center;
}
nav a.navbar-toggler:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    color: rgb(134, 134, 134);
    font-size: 30px;
    text-transform: none;
    text-align: center;
}
#location{
    width:640px;
    height:500px;
    border:0;    
    display: block;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 768px){
    #location{
        width:100%;
        height:400px;
    }
}

 .sns_btn {
     text-align: center;
 }
 .sns_btn ul li{
     display: inline-block;
     margin: 0 8px;
     cursor: pointer;
 }

.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}